/* App.css */
.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CardElement {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.CardElement--focus {
  border-color: #007bff;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

header h1 {
  margin: 0;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds spacing between form elements */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between CardElement, button, and messages */
}
button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

p {
  margin-top: 10px;
  color: #666;
}